.additional__title {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    display: block;
    top: 55%;
  }
}

.additional__headline {
  @include list-reset;
  font-weight: 400;
  margin-top: -1px;
  margin-bottom: 35px;
}

.additional__headline-bg {
  position: relative;
  background-color: #ffffff;
  padding: 0 24px;
  margin-left: -24px;
}

.additional__checkbox-item {
  margin-bottom: 24px;
  margin-left: 16px;
}

.additional__checkbox-list {
  @include list-reset;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.additional__checkbox-list label {
  position: relative;
  margin-left: 30px;
}

.additional__item-checkbox + label::before {
  content: "";
  width: 28px;
  height: 28px;
  top: -2px;
  left: -45px;
  position: absolute;
  border: 1px solid #cdcdcd;
}

.additional__item-checkbox:checked + label::after {
  content: "";
  width: 21px;
  height: 16px;
  top: 4px;
  left: -41px;
  position: absolute;
  background-image: url("../img/tick-svg-green.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .additional__title {
    position: relative;
    margin-left: 0;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #68b738;
      display: block;
      top: 58%;
    }
  }

  .additional__headline {
    @include list-reset;
    font-size: 36px;
    line-height: 36px;
    margin-top: -1px;
    margin-bottom: 65px;
  }

  .additional__headline-bg {
    position: relative;
    background-color: #ffffff;
    padding: 0 40px;
    margin-left: 10px;
  }

  .additional__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 62px;
  }

  .additional__checkbox-item {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    width: 220px;

    &:nth-child(1) {
      margin-right: 108px;
      margin-bottom: 52px;
    }

    &:nth-child(3) {
      margin-right: 109px;
    }
  }

  .additional__item-checkbox + label::before {
    content: "";
    width: 38px;
    height: 38px;
    top: -4px;
    left: -58px;
    position: absolute;
    border: 1px solid #cdcdcd;
  }

  .additional__item-checkbox:checked + label::after {
    top: 8px;
    left: -48px;
  }
}

@media (min-width: $desktop-width) {
  .additional__headline {
    margin-top: -2px;
  }

  .additional__headline-bg {
    margin-left: -21px;
  }

  .additional__checkbox-list {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .additional__checkbox-item {
    &:nth-child(1) {
      margin-left: -15px;
      margin-right: 90px;
    }

    &:nth-child(2) {
      margin-right: 88px;
    }

    &:nth-child(3) {
      margin-right: 90px;
    }
  }
}
