.catalog-additional {
  margin-bottom: 37px;
}

.catalog-additional__product {
  @include list-reset;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: initial;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 31px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 3px;
    top: 43px;
    right: -20px;
    background-color: #68b738;
  }
}

.catalog-additional__list {
  @include list-reset;
}

.catalog-additional__item {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 27px;
  margin-bottom: 11px;
}

.catalog-additional__headline {
  @include list-reset;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.catalog-additional__info {
  margin-bottom: 24px;
  width: 100%;
}

.catalog-additional__weight-cost {
  width: 100%;
  margin-bottom: 13px;
}

.catalog-additional__volume {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-transform: lowercase;
}

.catalog-additional__price {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-transform: uppercase;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .catalog-additional {
    margin-bottom: 69px;
  }

  .catalog-additional__item {
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    padding: 24px 40px 34px 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -12px;
  }

  .catalog-additional__product {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    border-bottom: none;
    border-top: none;
    margin-left: 48px;
    margin-top: -48px;
    margin-bottom: 62px;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 3px;
      top: 53px;
      left: -67px;
      background-color: #68b738;
    }

    &::after {
      content: "";
      position: absolute;
      width: 326px;
      height: 3px;
      top: 53px;
      right: -20px;
      background-color: #68b738;
    }
  }

  .catalog-additional__headline {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -14px;
  }

  .catalog-additional__volume {
    font-size: 16px;
    line-height: 20px;
    margin-right: 53px;
  }

  .catalog-additional__price {
    font-size: 16px;
    line-height: 20px;
    margin-right: -5px;
  }

  .catalog-additional__weight-cost {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
  }

  .catalog-link--additional {
    padding: 8px 286px;
    margin-top: 20px;
  }
}
