.catalog-additional__product {
  @include list-reset;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 31px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.catalog-additional__list {
  @include list-reset;
}

.catalog-additional__item {
  margin-bottom: 32px;
}

.catalog-additional {
  @include list-reset;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.catalog-additional__info {
  margin-bottom: 16px;
}

.catalog-additional__price,
.catalog-additional__volume {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: red;
  margin-left: 20px;
}
