.catalog-additional {
  margin-bottom: 15px;
}

.catalog-additional__tittle {
  position: relative;
  margin-left: -40px;

  &::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #68b738;
    display: block;
    position: absolute;
    top: 50%;
  }
}

.catalog-additional__product {
  @include list-reset;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  margin-top: 29px;
  margin-bottom: 33px;
  width: 290px;
}

.catalog-additional--header-bg {
  position: relative;
  background-color: #ffffff;
  padding: 0 24px;
  margin-left: -5px;
}

.catalog-additional__list {
  @include list-reset;
}

.catalog-additional__item {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 17px;
  margin-bottom: 13px;

  &:first-child {
    border-top: 1px solid #dfdfdf;
    padding-top: 13px;
  }
}

.catalog-additional__headline {
  @include list-reset;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.catalog-additional__info {
  margin-bottom: 16px;
  width: 100%;
}

.catalog-additional__weight-cost {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.catalog-additional__volume {
  @include list-reset;
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-transform: lowercase;
}

.catalog-additional__price {
  @include list-reset;
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-transform: uppercase;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .catalog-additional {
    margin-bottom: 69px;
  }

  .catalog-additional__item {
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    padding: 24px 40px 34px 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -14px;

    &:first-child {
      padding-top: 23px;
    }
  }

  .catalog-additional__tittle {
    margin-left: 0;

    &::before {
      top: 60%;
    }
  }

  .catalog-additional__product {
    @include list-reset;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-top: -15px;
    margin-bottom: 96px;
    width: auto;
  }

  .catalog-additional--header-bg {
    padding: 0 40px 0 40px;
    margin-left: 6px;
  }

  .catalog-additional__headline {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -17px;
  }

  .catalog-additional__info {
    margin-bottom: 25px;
  }

  .catalog-additional__volume {
    font-size: 16px;
    line-height: 20px;
    margin-right: 53px;
  }

  .catalog-additional__price {
    font-size: 16px;
    line-height: 20px;
    margin-right: -5px;
  }

  .catalog-additional__weight-cost {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
  }

  .catalog-link--additional {
    padding: 10px 284px;
    margin-bottom: -8px;
    margin-left: -2px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__wrapper {
    display: flex;
  }

  .catalog-additional__headline {
    margin-bottom: 0;
    width: 370px;
  }

  .catalog-additional__item {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 21px;
    margin-bottom: -1px;
    padding-top: 22px;
    padding-bottom: 19px;
    border-left: none;
    border-right: none;
  }

  .catalog-additional__info {
    margin: 0;
    margin-left: 20px;
  }

  .catalog-additional__weight-cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: -4px;
    width: 100%;
  }

  .catalog-additional__volume {
    width: 50%;
    margin-left: 120px;
    margin-right: 10px;
  }

  .catalog-additional__price {
    margin-right: 40px;
    width: 50%;
  }

  .catalog-additional__product {
    margin-bottom: 79px;
  }

  .catalog-additional--header-bg {
    padding: 0 36px 0 35px;
    margin-left: -17px;
  }

  .catalog-link--additional {
    padding: 9px 92px;
    margin-top: -8px;
    margin-bottom: 0;
  }
}
