.catalog__product {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
  text-align: center;
}

.catalog__list {
  @include list-reset;
  margin: 0 auto;
}

.catalog__item {
  list-style: none;
}

.catalog__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.catalog__info {
  margin-bottom: 23px;
}

.catalog__volume,
.catalog__taste,
.catalog__price {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}

.catalog-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  background-color: $color-green;
  text-transform: uppercase;
  padding: 13px 110px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .catalog__product {
    font-size: 60px;
    text-align: left;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
    margin: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
  }
}
