.catalog__product {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
  border-bottom: 1px solid #eaeaea;
  margin: 0 -20px;
  padding-bottom: 29px;
  margin-bottom: -4px;
  margin-left: -20px;
  padding-left: 20px;
}

.catalog__list {
  @include list-reset;
  margin: 0 -20px;
}

.catalog__item {
  list-style: none;
  padding: 0 20px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 26px;
}

.catalog__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  width: 85px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 12px;
  padding-left: 140px;
}

.catalog__description-type {
  width: 100%;
}

.catalog__volume,
.catalog__taste,
.catalog__price {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;

  &:first-child {
    text-align: left;
    padding-left: 67px;
    width: 50%;
  }

  &:last-child {
    text-align: right;
    padding-left: 39px;
    width: 50%;
  }
}

.catalog__info {
  margin-bottom: 33px;
  margin-left: 73px;
}

.catalog__title--chicken-small {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 144px;
    top: 5px;
    right: 85px;
    background-image: url("../img/chicken-small-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/chicken-small-mobile@2x.jpg");
      background-size: 140px auto;
    }
  }
}

.catalog__title--chicken-big {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 144px;
    top: 5px;
    right: 85px;
    background-image: url("../img/chicken-big-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/chicken-big-mobile@2x.jpg");
      background-size: 140px auto;
    }
  }
}

.catalog__title--fish-small {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 144px;
    top: 5px;
    right: 85px;
    background-image: url("../img/fish-small-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fish-small-mobile@2x.jpg");
      background-size: 140px auto;
    }
  }
}

.catalog__title--fish-big {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 144px;
    top: 5px;
    right: 85px;
    background-image: url("../img/fish-big-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fish-big-mobile@2x.jpg");
      background-size: 140px auto;
    }
  }
}

.catalog__title--buckwheat-small {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 144px;
    top: 5px;
    right: 85px;
    background-image: url("../img/buckwheat-small-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/buckwheat-small-mobile@2x.jpg");
      background-size: 140px auto;
    }
  }
}

.catalog__title--buckwheat-big {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 144px;
    top: 5px;
    right: 85px;
    background-image: url("../img/buckwheat-big-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/buckwheat-big-mobile@2x.jpg");
      background-size: 140px auto;
    }
  }
}

.catalog__title--rice-small {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 144px;
    top: 5px;
    right: 85px;
    background-image: url("../img/rice-small-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/rice-small-mobile@2x.jpg");
      background-size: 140px auto;
    }
  }
}

.catalog-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: $color-green;
  text-transform: uppercase;
  padding: 8px 110px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    background-color: #f2f2f2;
    margin-bottom: 85px;
    margin-top: 54px;
    padding-top: 115px;
    padding-bottom: 46px;
    padding-left: 39px;
    padding-right: 39px;
    width: 327px;
    box-sizing: border-box;
  }

  .catalog__info {
    width: 100%;
    margin-bottom: 43px;
    margin-left: 0;
  }

  .catalog__product {
    font-size: 60px;
    text-align: left;
    margin-top: 39px;
    margin-bottom: 75px;
    margin-left: -9px;
    border-bottom: none;
    padding-bottom: 34px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .catalog__title {
    font-size: 20px;
    width: 130px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 26px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .catalog__volume,
  .catalog__taste,
  .catalog__price {
    font-size: 16px;
    padding-left: 0;
    border-bottom: 1px solid #d6d6d6;

    &:first-child {
      text-align: left;
      padding-left: 0;
      width: 50%;
    }

    &:last-child {
      text-align: right;
      padding-left: 0;
      width: 50%;
    }
  }

  .catalog__volume {
    padding-bottom: 7px;
  }

  .catalog__taste {
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .catalog__price {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .catalog__title--chicken-small {
    position: relative;

    &::after {
      width: 227px;
      height: 172px;
      top: -210px;
      right: 60px;
      background-image: url("../img/chicken-small-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/chicken-small-tablet@2x.png");
        background-size: 324px auto;
      }
    }
  }

  .catalog__title--chicken-big {
    position: relative;

    &::after {
      width: 280px;
      height: 194px;
      top: -246px;
      right: 8px;
      background-image: url("../img/chicken-big-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/chicken-big-tablet@2x.png");
        background-size: 324px auto;
      }
    }
  }

  .catalog__title--fish-small {
    position: relative;

    &::after {
      width: 227px;
      height: 172px;
      top: -210px;
      right: 60px;
      background-image: url("../img/fish-small-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/fish-small-tablet@2x.png");
        background-size: 324px auto;
      }
    }
  }

  .catalog__title--fish-big {
    position: relative;

    &::after {
      width: 280px;
      height: 194px;
      top: -246px;
      right: 8px;
      background-image: url("../img/fish-big-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/fish-big-tablet@2x.png");
        background-size: 324px auto;
      }
    }
  }

  .catalog__title--buckwheat-small {
    position: relative;

    &::after {
      width: 227px;
      height: 172px;
      top: -210px;
      right: 60px;
      background-image: url("../img/buckwheat-small-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/buckwheat-small-tablet@2x.png");
        background-size: 324px auto;
      }
    }
  }

  .catalog__title--buckwheat-big {
    position: relative;

    &::after {
      width: 280px;
      height: 194px;
      top: -246px;
      right: 8px;
      background-image: url("../img/buckwheat-big-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/buckwheat-big-tablet@2x.png");
        background-size: 324px auto;
      }
    }
  }

  .catalog__title--rice-small {
    position: relative;

    &::after {
      width: 227px;
      height: 172px;
      top: -210px;
      right: 60px;
      background-image: url("../img/rice-small-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
        background-image: url("../img/rice-small-tablet@2x.png");
        background-size: 324px auto;
      }
    }
  }

  .catalog-link {
    padding: 8px 95px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__product {
    margin-top: 56px;
    margin-left: 2px;
    margin-bottom: 76px;
  }

  .catalog__info {
    margin-bottom: 40px;
  }

  .catalog__item {
    margin-bottom: 85px;
    margin-top: 56px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 115px;
    padding-bottom: 46px;
    padding-left: 39px;
    padding-right: 39px;
    width: 247px;
    box-sizing: border-box;
  }

  .catalog-link {
    padding: 8px 54px;
  }

  .catalog__title {
    padding-right: 62px;
    margin-top: 48px;
    margin-bottom: 16px;
    padding-left: 22px;
  }

  .catalog__volume,
  .catalog__taste,
  .catalog__price {
    padding-top: 10px;
    padding-bottom: 5px;

    &:first-child {
      text-align: left;
      width: 50%;
    }

    &:last-child {
      text-align: right;
      width: 50%;
    }
  }

  .catalog__volume {
    padding-bottom: 8px;
  }

  .catalog__taste {
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .catalog__price {
    padding-top: 7px;
    padding-bottom: 9px;
  }

  .catalog__title--chicken-small {
    position: relative;

    &::after {
      right: 24px;
      background-image: url("../img/chicken-small-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/chicken-small-desktop@2x.png");
        background-size: 245px auto;
      }
    }
  }

  .catalog__title--chicken-big {
    position: relative;

    &::after {
      right: -30px;
      background-image: url("../img/chicken-big-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/chicken-big-desktop@2x.png");
        background-size: 245px auto;
      }
    }
  }

  .catalog__title--fish-small {
    position: relative;

    &::after {
      right: 24px;
      background-image: url("../img/fish-small-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/fish-small-desktop@2x.png");
        background-size: 245px auto;
      }
    }
  }

  .catalog__title--fish-big {
    position: relative;

    &::after {
      right: -30px;
      background-image: url("../img/fish-big-desktopt@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/fish-big-desktop@2x.png");
        background-size: 245px auto;
      }
    }
  }

  .catalog__title--buckwheat-small {
    position: relative;

    &::after {
      right: 24px;
      background-image: url("../img/buckwheat-small-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/buckwheat-small-desktop@2x.png");
        background-size: 245px auto;
      }
    }
  }

  .catalog__title--buckwheat-big {
    position: relative;

    &::after {
      right: -30px;
      background-image: url("../img/buckwheat-big-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/buckwheat-big-desktop@2x.png");
        background-size: 245px auto;
      }
    }
  }

  .catalog__title--rice-small {
    position: relative;

    &::after {
      right: 24px;
      background-image: url("../img/rice-small-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
        background-image: url("../img/rice-small-desktop@2x.png");
        background-size: 245px auto;
      }
    }
  }
}
