.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__link {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
  margin-bottom: 13px;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
  }
}

.copyright__logo {
  margin-top: -6px;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    margin-bottom: 0;
    margin-right: 21px;
    margin-left: 3px;
  }

  .copyright__logo {
    margin-top: -9px;
    margin-right: -14px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    margin-right: 32px;
    margin-left: -8px;
  }
}
