.data-cats__title {
  position: relative;
  margin-left: -10px;

  &::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #68b738;
    display: block;
    position: absolute;
    top: 30%;
  }
}

.data-cats__headline {
  @include list-reset;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin-top: 29px;
  margin-bottom: 31px;
}

.data-cats__headline--bg {
  position: relative;
  background-color: #ffffff;
  padding: 0 24px;
  margin-left: -20px;
}

.data-cats__headline--bg-two {
  margin-left: 5px;
}

.data-cats__info {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 13px;
  align-items: baseline;
}

.data-cats__label {
  margin-right: 10px;
}

.data-cats__field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  height: 45px;
  padding: 0 14px 0 16px;
  border: 1px solid #efefef;
  flex-grow: 1;

  &:hover {
    border: 1px solid #dbdbdb;
  }

  &:active,
  &:focus {
    border: 1px solid #484848;
  }
}

.data-cats__label--email {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    top: 4px;
    right: -216px;
    background-image: url("../img/icon-mail.svg");
  }
}

.data-cats__field--email:invalid {
  border: 2px solid #ff8282;
}

.data-cats__label--email:active::before {
  background-image: url("../img/mail-svg-green.svg");
}

.data-cats__label--phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: -1px;
    right: -201px;
    background-image: url("../img/icon-phone.svg");
  }
}

.data-cats__label--phone:active::before {
  background-image: url("../img/icon-phone-green.svg");
}

.data-cats__info--phone {
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .data-cats__title {
    margin-left: -10px;

    &::before {
      top: 60%;
    }
  }

  .data-cats__headline {
    @include list-reset;
    font-size: 36px;
    line-height: 36px;
    margin-top: 32px;
    margin-bottom: 75px;
  }

  .data-cats__headline--bg {
    padding: 0 38px;
    margin-left: 16px;
  }

  .data-cats__headline--bg-two {
    position: relative;
    background-color: #ffffff;
    padding: 0 42px 0 0;
    margin-left: -38px;
  }

  .data-cats__info {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 45px;
    align-items: center;
  }

  .data-cats__label {
    margin-right: 18px;
  }

  .data-cats__label--email {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 4px;
      right: -551px;
    }
  }

  .data-cats__label--phone {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 1px;
      right: -532px;
    }
  }

  .data-cats__field {
    font-size: 20px;
    line-height: 20px;
    height: 50px;
    padding: 0 10px 0 19px;
  }

  .data-cats__info--phone {
    margin-bottom: 67px;
  }
}

@media (min-width: $desktop-width) {
  .data-cats__title {
    margin-left: -10px;
  }

  .data-cats__headline {
    margin-top: 3px;
  }

  .data-cats__headline--bg {
    margin-left: -14px;
  }

  .data-cats__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1293px;
    margin-left: -28px;
    margin-bottom: 2px;
  }

  .data-cats__info {
    width: 569px;
    margin-left: 50px;
    margin-right: 27px;
  }

  .data-cats__label--email {
    &::before {
      top: 4px;
      right: -487px;
    }
  }

  .data-cats__label--phone {
    &::before {
      top: 1px;
      right: -467px;
    }
  }
}
