.data-cats__headline {
  @include list-reset;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 33px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 99px;
    height: 3px;
    background-color: #68b738;
    top: 14px;
    right: -20px;
  }
}

.data-cats__info {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 13px;
  align-items: baseline;
}

.data-cats__label {
  margin-right: 10px;
}

.data-cats__field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 13px 14px 12px 16px;
  border: 1px solid #cdcdcd;
  flex-grow: 1;
}

.data-cats__label--email {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    top: 2px;
    right: -216px;
    background-image: url("../../img/icon-mail.svg");
  }
}

.data-cats__label--phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: -1px;
    right: -201px;
    background-image: url("../../img/icon-phone.svg");
  }
}

.data-cats__info--phone {
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .data-cats__headline {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-left: 49px;
    margin-bottom: 73px;

    &::before {
      content: "";
      position: absolute;
      width: 145px;
      height: 3px;
      background-color: #68b738;
      top: 22px;
      right: -20px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: #68b738;
      top: 22px;
      left: -69px;
    }
  }

  .data-cats__email {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 50px;

    &::before {
      top: 10px;
      right: -551px;
    }
  }

  .data-cats__phone {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 50px;

    &::before {
      top: 5px;
      right: -532px;
    }
  }

  .data-cats__field {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    width: 503px;
    padding: 12px 10px 12px 20px;
    margin-bottom: 63px;
  }

  .data-cats__email-label input[type="email"] {
    width: 522px;
    padding: 12px 7px 12px 24px;
    margin-bottom: 17px;
  }
}
