.function-cat {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 305px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #63a73a;
    background-image: url("../../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.function-cat__can {
  position: relative;
  top: 80px;
  left: 3px;
  margin-bottom: 85px;
}

.function-cat__headline {
  @include list-reset;
  position: relative;
  top: 25px;
  left: 2px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  z-index: 1;
  color: #ffffff;
}

.function-cat__slogan {
  display: block;
  position: relative;
  top: 51px;
  left: -1px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  color: #ffffff;
}

.function-cat__button {
  @include list-reset;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $color-green;
  text-decoration: none;
  color: #ffffff;
  padding: 14px 0 13px 0;
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .function-cat__image {
    display: none;
  }

  .function-cat__headline {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 97px;
    text-align: start;
    width: 415px;
    margin-top: 100px;
  }

  .function-cat__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-left: 103px;
    text-align: start;
    margin-bottom: 48px;
  }

  .function-cat__button {
    @include list-reset;
    font-size: 20px;
    line-height: 20px;
    width: 245px;
    padding: 17px 29px 15px 26px;
    margin-left: 103px;
    margin-bottom: 529px;
  }

  .function-cat__can {
    bottom: -234px;
    left: 254px;
  }
}
