.function-cat {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 305px;
    top: -3px;
    left: 0;
    right: 0;
    background-color: #63a73a;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.function-cat__can {
  position: relative;
  top: 78px;
  left: 2px;
  margin-bottom: 77px;
}

.function-cat__headline {
  @include list-reset;
  position: relative;
  top: 25px;
  left: 2px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  z-index: 1;
  color: #ffffff;
  margin-bottom: -2px;
}

.function-cat__slogan {
  display: block;
  position: relative;
  top: 51px;
  left: -1px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  color: #ffffff;
}

.function-cat__button {
  @include list-reset;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  background-color: $color-green;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 0 12px 0;
  display: block;
  text-align: center;
  margin-bottom: 1px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .function-cat__wrapper {
    display: flex;
    flex-direction: column;
  }

  .function-cat__can {
    top: 72px;
    left: 12px;
    margin-bottom: 48px;
  }

  .function-cat__headline {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    width: 415px;
    margin-left: 97px;
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .function-cat__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: start;
    margin-left: 100px;
  }

  .function-cat__button {
    @include list-reset;
    font-size: 20px;
    line-height: 20px;
    width: 205px;
    padding: 17px 20px 15px 20px;
    margin-left: 99px;
    order: -1;
    margin-top: 268px;
    position: absolute;
  }

  .function-cat::before {
    content: "";
    position: absolute;
    height: 305px;
    background: none;
    background-image: none;
  }
}

@media (min-width: $desktop-width) {
  .function-cat {
    margin-bottom: -164px;
  }

  .function-cat__headline {
    position: relative;
    margin-left: 98px;
    margin-top: 66px;
    margin-bottom: 16px;

    &::before {
      content: "";
      position: absolute;
      width: 720px;
      height: 696px;
      top: -222px;
      left: 527px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .function-cat__slogan {
    margin-left: 102px;
  }

  .function-cat__button {
    margin-left: 99px;
    margin-top: 323px;
  }

  .function-cat__can {
    top: -211px;
    left: 470px;
    z-index: 2;
  }
}
