.how-work__headline {
  @include list-reset;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: initial;
  color: #111111;
  margin-bottom: 35px;
}

.how-work__list {
  @include list-reset;
}

.how-work__item {
  margin-bottom: 40px;
}

.how-work__description {
  @include list-reset;
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: initial;
  color: #444444;
  margin-left: 80px;
  margin-right: 8px;
}

.how-work__item--leaf {
  position: relative;
}

.how-work__item--leaf::before {
  content: "";
  position: absolute;
  top: 1px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}

.how-work__item--leaf::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 38px;
  height: 40px;
  background-image: url("../../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.how-work__item--water {
  position: relative;
}

.how-work__item--water::before {
  content: "";
  position: absolute;
  top: 1px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}

.how-work__item--water::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 40px;
  height: 42px;
  background-image: url("../../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.how-work__item--fork {
  position: relative;
}

.how-work__item--fork::before {
  content: "";
  position: absolute;
  top: 1px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}

.how-work__item--fork::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 40px;
  height: 42px;
  background-image: url("../../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.how-work__item--clock {
  position: relative;
}

.how-work__item--clock::before {
  content: "";
  position: absolute;
  top: 1px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}

.how-work__item--clock::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 40px;
  height: 42px;
  background-image: url("../../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .how-work__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .how-work__item {
    width: 300px;
  }

  .how-work__headline {
    font-size: 60px;
  }
}
