.how-work__headline {
  @include list-reset;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: initial;
  color: #111111;
  margin-bottom: 28px;
}

.how-work__list {
  @include list-reset;
}

.how-work__item {
  margin-bottom: 40px;
}

.how-work__description {
  @include list-reset;
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: initial;
  color: #444444;
  margin-left: 80px;
  z-index: 2;
}

.how-work__item--leaf {
  position: relative;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../img/leaf-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.how-work__item--water {
  position: relative;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../img/water-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.how-work__item--fork {
  position: relative;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../img/fork-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.how-work__item--clock {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../img/clock-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .how-work__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -36px;
    counter-reset: list1;
  }

  .how-work__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 244px;
    margin-right: 41px;
    margin-bottom: 145px;
  }

  .how-work__headline {
    font-size: 60px;
    margin-left: 12px;
    margin-bottom: 84px;
  }

  .how-work__description {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-top: 100px;
    z-index: 2;
  }

  .how-work__item--leaf {
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
      top: -12px;
      background-image: url("../img/leaf.png");
    }

    &::after {
      counter-increment: list1;
      content: counter(list1);
      position: absolute;
      font-size: 281px;
      top: -120px;
      left: 117px;
      color: #f2f2f2;
    }
  }

  .how-work__item--water {
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
      top: -12px;
      background-image: url("../img/water.png");
    }

    &::after {
      counter-increment: list1;
      content: counter(list1);
      position: absolute;
      font-size: 281px;
      top: -120px;
      left: 114px;
      color: #f2f2f2;
    }
  }

  .how-work__item--fork {
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
      top: -12px;
      background-image: url("../img/fork.png");
    }

    &::after {
      counter-increment: list1;
      content: counter(list1);
      position: absolute;
      font-size: 281px;
      top: -120px;
      left: 114px;
      color: #f2f2f2;
    }
  }

  .how-work__item--clock {
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
      top: -12px;
      background-image: url("../img/clock.png");
    }

    &::after {
      counter-increment: list1;
      content: counter(list1);
      position: absolute;
      font-size: 281px;
      top: -120px;
      left: 115px;
      color: #f2f2f2;
    }
  }
}

@media (min-width: $desktop-width) {
  .how-work__list {
    justify-content: start;
  }

  .how-work__item {
    width: 245px;
    margin-right: 0;
  }

  .how-work__headline {
    margin-bottom: 83px;
  }

  .how-work__item--leaf {
    margin-left: 35px;

    &::before {
      top: -12px;
    }
  }

  .how-work__item--water {
    margin-left: 80px;

    &::before {
      top: -12px;
    }
  }

  .how-work__item--fork {
    margin-left: 80px;

    &::before {
      top: -12px;
    }
  }

  .how-work__item--clock {
    margin-left: 80px;

    &::before {
      top: -12px;
    }
  }
}
