.how-work__headline {
  @include list-reset;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: initial;
  color: #111111;
  margin-bottom: 35px;
}

.how-work__list {
  @include list-reset;
}

.how-work__item {
  margin-bottom: 40px;
}

.how-work__description {
  @include list-reset;
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: initial;
  color: #444444;
  margin-left: 80px;
}

.how-work__item--leaf {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 50px;
    height: 50px;
    background-image: url("../../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.how-work__item--water {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 40px;
    height: 42px;
    background-image: url("../../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.how-work__item--fork {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 40px;
    height: 42px;
    background-image: url("../../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.how-work__item--clock {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 40px;
    height: 42px;
    background-image: url("../../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .how-work__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -17px;
  }

  .how-work__item {
    display: flex;
    flex-direction: column;
    width: 244px;
    margin-right: 50px;
    margin-bottom: 100px;
  }

  .how-work__headline {
    font-size: 60px;
    margin-left: 18px;
    margin-bottom: 70px;
  }

  .how-work__description {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-top: 100px;
  }

  .how-work__item--leaf {
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 16px;
      left: 16px;
    }
  }

  .how-work__item--water {
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 16px;
      left: 16px;
    }
  }

  .how-work__item--fork {
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 16px;
      left: 16px;
    }
  }

  .how-work__item--clock {
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 16px;
      left: 16px;
    }
  }
}
