.living-example {
  background-color: #f2f2f2;
}

.living-example__before {
  margin-bottom: 10px;
}

.living-example__after {
  display: none;
}

.living-example__headline {
  @include list-reset;
  font-size: 36px;
  line-height: 60px;
  padding-top: 18px;
  margin-bottom: 22px;
}

.living-example__description {
  @include list-reset;
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03px;
  color: #444444;
  margin-bottom: 39px;
}

.living-example-measuring {
  display: flex;
  text-align: center;
  margin-bottom: 19px;
}

.living-example-measuring__measuring-weight,
.living-example__measuring-time {
  @include list-reset;
  text-align: center;
}

.living-example__measuring-item:first-child {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 9px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 124px;
    height: 56px;
    top: -14px;
    left: -22px;
  }
}

.living-example__measuring-item:last-child {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
}

.living-example__measuring-item--kg {
  margin-left: 21px;
  margin-right: 34px;
  display: block;
}

.living-example__measuring-item-days {
  margin-left: 39px;
  margin-right: 19px;
  display: block;
}

.living-example__measuring-item--weight {
  margin-left: 16px;
  margin-right: 32px;
  background-color: #f2f2f2;
  position: relative;
  padding-left: 17px;
  padding-right: 17px;
}

.living-example__measuring-item--time {
  margin-left: 37px;
  margin-right: 20px;
  background-color: #f2f2f2;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}

.living-example__costs-money {
  @include list-reset;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 33px;
  margin-left: 11px;
}

.living-example__measuring-beforeafter {
  @include list-reset;
  display: flex;
  justify-content: space-around;
  padding-bottom: 38px;
  text-transform: uppercase;
}

.living-example__costs {
  margin-left: -10px;
  margin-bottom: 25px;
}

.measuring__before-after--before {
  margin-left: 16px;
  margin-right: 44px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 55px;
    width: 84px;
    height: 12px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 60px;
    width: 35px;
    height: 6px;
    background-color: #68b738;
    border-radius: 10px;
  }
}
