.living-example {
  background-color: #f2f2f2;
}

.living-example__before {
  margin-bottom: 10px;
}

.living-example--after {
  display: none;
}

.living-example__headline {
  @include list-reset;
  font-size: 36px;
  line-height: 60px;
  padding-top: 18px;
  margin-bottom: 22px;
}

.living-example__description {
  @include list-reset;
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03px;
  color: #444444;
  margin-bottom: 39px;
}

.living-example-measuring {
  display: flex;
  text-align: center;
  margin-bottom: 19px;
}

.living-example-measuring__measuring-weight,
.living-example__measuring-time {
  @include list-reset;
  text-align: center;
}

.living-example__after-cat--none {
  display: none;
}

.living-example__measuring-item:first-child {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 9px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 124px;
    height: 56px;
    top: -14px;
    left: -22px;
  }
}

.living-example__measuring-item:last-child {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
}

.living-example__measuring-item--kg {
  margin-left: 21px;
  margin-right: 34px;
  display: block;
}

.living-example__measuring-item-days {
  margin-left: 39px;
  margin-right: 19px;
  display: block;
}

.living-example__measuring-item--weight {
  margin-left: 16px;
  margin-right: 32px;
  background-color: #f2f2f2;
  position: relative;
  padding-left: 17px;
  padding-right: 17px;
}

.living-example__measuring-item--time {
  margin-left: 37px;
  margin-right: 20px;
  background-color: #f2f2f2;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}

.living-example__costs-money {
  @include list-reset;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 33px;
  margin-left: 11px;
}

.living-example__measuring-beforeafter {
  @include list-reset;
  display: flex;
  justify-content: space-around;
  padding-bottom: 38px;
  text-transform: uppercase;
}

.living-example__costs {
  margin-left: -10px;
  margin-bottom: 25px;
}

.measuring__before-after--before {
  margin-left: 16px;
  margin-right: 44px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 55px;
    width: 84px;
    height: 12px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 60px;
    width: 35px;
    height: 6px;
    background-color: #68b738;
    border-radius: 10px;
  }
}

@media (min-width: $tablet-width) {
  .living-example {
    background-color: #ffffff;
  }

  .living-example__headline {
    font-size: 60px;
    font-weight: 400;
    margin-left: 12px;
    margin-bottom: 65px;
  }

  .living-example__description {
    font-size: 16px;
    line-height: 24px;
    padding-left: 13px;
    color: #444444;
    margin-bottom: 68px;
  }

  .living-example__measuring-item:first-child {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 12px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border: 1px solid #cdcdcd;
      border-radius: 3px;
      width: 159px;
      height: 70px;
      top: -14px;
      left: -9px;
    }
  }

  .living-example__measuring-item:last-child {
    font-size: 14px;
    line-height: 14px;
  }

  .living-example__measuring-item--weight {
    margin-left: 36px;
    margin-right: 49px;
    background-color: #ffffff;
    padding-left: 7px;
    padding-right: 7px;
  }

  .living-example__measuring-item--time {
    margin-left: 37px;
    margin-right: 20px;
    background-color: #ffffff;
    padding-left: 1px;
    padding-right: 1px;
  }

  .living-example__measuring-item-days {
    margin-left: 30px;
    margin-right: 17px;
  }

  .living-example__costs-money {
    font-size: 20px;
    line-height: 28px;
    text-align: end;
    padding-left: 531px;
    padding-right: 20px;
    margin-top: -90px;
    margin-right: -10px;
    margin-bottom: 70px;
  }

  .living-example__measuring-beforeafter {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      top: 7px;
      left: 358px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0 2px 5px 0 #cfcfcf;
      z-index: 1;
    }
  }

  .measuring__before-after--before {
    font-size: 20px;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 15px;
    margin-right: 321px;
    margin-top: 9px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 71px;
      width: 428px;
      height: 6px;
      background-color: #dcdcdc;
      border-radius: 10px;
      border: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 281px;
      width: 7px;
      height: 7px;
      background-color: #68b738;
      border-radius: 10px;
      z-index: 1;
    }
  }

  .measuring__before-after--after {
    font-size: 20px;
    border-bottom: 1px solid #dfdfdf;
    margin-top: 9px;
  }

  .living-example__wrapper-after-before {
    width: 660px;
    height: 517px;
    display: flex;
    margin-left: 50px;
    margin-top: 95px;
    margin-bottom: 5px;
  }

  .living-example__after-cat--none {
    display: block;
  }

  .living-example__before-cat,
  .living-example__after-cat {
    width: 50%;
    overflow: hidden;
  }

  .living-example__after-cat {
    img {
      transform: translateX(-50%);
    }
  }
}
