.page-footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.page-footer__wrapper {
  background-color: #f2f2f2;
  margin-top: -4px;
}

.page-footer__contacts {
  display: flex;
  position: relative;
  background-color: #ffffff;
  margin-bottom: -40px;

  &::before {
    content: "";
    top: 224px;
    left: 136px;
    width: 55px;
    height: 53px;
    position: absolute;
    background-image: url("../../img/map-pin-png-50.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.contacts__invite {
  @include list-reset;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1;
  color: #111111;
  text-transform: uppercase;
  margin-right: 23px;
  margin-bottom: 27px;
}

.contacts__address {
  @include list-reset;
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.page-footer__contacts-map {
  margin: 0 -20px;
}

.page-footer__logo-image {
  margin-top: 40px;
  margin-left: 76px;
  margin-bottom: 29px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-footer__logo-image {
    margin-top: 25px;
    margin-left: 20px;
  }
}
