.page-else {
  text-align: center;
  margin-bottom: 30px;
}

.page-else__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-top: 107px;
  position: relative;
}

.page-else__title::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  top: -50px;
  right: 143px;
  background-image: url("../../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-else__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin-bottom: 22px;
}

.page-else__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 95px;
  background-color: #f2f2f2;
}
