.page-else {
  text-align: center;
  margin-bottom: 30px;
}

.page-else__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-top: 74px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    top: -50px;
    right: 145px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.page-else__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin-bottom: 22px;
}

.page-else__button {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 94px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .page-else {
    padding: 0 20px;
    border: 1px solid #dfdfdf;
    margin-bottom: 93px;
    margin-top: 50px;
  }

  .page-else__title {
    font-size: 20px;
    margin-top: 166px;
    margin-left: 75px;
    margin-bottom: 28px;
    width: 135px;
    text-align: center;


    &::after {
      width: 61px;
      height: 61px;
      top: -114px;
      right: 39px;
      background-image: url("../img/icon-plus.svg");
      opacity: 0.2;
    }
  }

  .page-else__description {
    font-size: 16px;
    color: #444444;
    width: 170px;
    margin-left: 55px;
    margin-bottom: 126px;
  }
}

@media (min-width: $desktop-width) {
  .page-else {
    width: 221px;
  }

  .page-else__title {
    margin-left: 44px;
    margin-top: 163px;
  }

  .page-else__description {
    margin-left: 25px;
    margin-bottom: 84px;
  }

  .page-else__button {
    padding: 13px 39px;
  }
}
