.page-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.page-header__logo {
  display: block;
  padding: 14px 10px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }

  .page-header__logo {
    margin-top: 9px;
    margin-right: 105px;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    margin-left: 10px;
    margin-top: 43px;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
