.parameters-cats__headline {
  @include list-reset;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 25px;
}

.parameters-cats__description {
  @include list-reset;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 33px;
  margin-bottom: 40px;
}

.parameters-cats__info {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.parameters-cats__info--name input[type="text"] {
  width: 201px;
  padding: 12px 11px 12px 11px;
  margin-bottom: 14px;
}

.parameters-cats__info--weight input[type="text"] {
  width: 177px;
  padding: 12px 10px 12px 10px;
  margin-bottom: 15px;
}

.parameters-cats__info--age input[type="text"] {
  width: 145px;
  padding: 12px 10px 12px 13px;
  margin-bottom: 23px;
}

.parameters-cats__name {
  margin-right: 13px;
}

.parameters-cats__weight {
  margin-right: 17px;
}

.parameters-cats__age {
  margin-right: 13px;
}

.parameters-cats__field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
}

.parameters-cats__checkbox {
  margin: 0 -20px;
  padding: 0 -20px;
  margin-bottom: 29px;
  border-top: 1px solid #dfdfdf;
  padding-top: 25px;
  padding-bottom: 2px;
  border-bottom: 1px solid #dfdfdf;
}

.parameters-cats__checkbox-filter {
  @include list-reset;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 20px;
}

.parameters-cats__item {
  padding-left: 45px;
  margin-bottom: 25px;
  position: relative;
}

.parameters-cats__slimming--radio + label::before {
  content: "";
  width: 26px;
  height: 26px;
  top: -4px;
  left: 1px;
  position: absolute;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.parameters-cats__slimming--radio:checked + label::after {
  content: "";
  width: 8px;
  height: 8px;
  top: 5px;
  left: 10px;
  position: absolute;
  border: 1px solid #68b738;
  background-color: #68b738;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .parameters-cats__headline {
    font-size: 60px;
    font-weight: 400;
    margin-left: 9px;
    margin-top: 39px;
    margin-bottom: 55px;
  }

  .parameters-cats__description {
    font-size: 20px;
    line-height: 30px;
    margin-left: 51px;
    width: 322px;
    margin-bottom: 63px;
  }

  .parameters-cats__info {
    margin-bottom: 2px;
  }

  .parameters-cats__name {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
  }

  .parameters-cats__weight {
    font-size: 20px;
    margin-left: 50px;
  }

  .parameters-cats__age {
    font-size: 20px;
    margin-left: 50px;
  }

  .parameters-cats__field {
    font-size: 20px;
    line-height: 20px;
  }

  .parameters-cats__info--name input[type="text"] {
    width: 536px;
    padding: 12px 11px 12px 18px;
  }

  .parameters-cats__info--weight input[type="text"] {
    width: 506px;
    padding: 12px 10px 12px 18px;
  }

  .parameters-cats__info--age input[type="text"] {
    width: 467px;
    padding: 12px 10px 12px 19px;
    margin-bottom: 41px;
  }

  .parameters-cats__item {
    margin-bottom: 33px;
  }

  .parameters-cats__checkbox {
    border-top: none;
    border-bottom: none;
  }

  .parameters-cats__checkbox-filter {
    margin-left: 71px;
    margin-right: 67px;
    border: 1px solid #cdcdcd;
    padding: 36px 81px 3px 41px;
    margin-bottom: 42px;
  }

  .parameters-cats__slimming {
    font-size: 20px;
  }

  .parameters-cats__mass {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .parameters-cats__advice {
    font-size: 20px;
  }

  .parameters-cats__slimming--radio + label::before {
    content: "";
    width: 38px;
    height: 38px;
    top: -10px;
    left: -14px;
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  .parameters-cats__slimming--radio:checked + label::after {
    content: "";
    width: 15px;
    height: 15px;
    top: 2px;
    left: -3px;
    position: absolute;
    border: 1px solid #68b738;
    background-color: #68b738;
    border-radius: 50%;
  }
}
