.program-cat {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.program-cat__list {
  @include list-reset;
  min-height: 266px;
}

.program-cat__item--slenderize {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50px;
  }
}

.program-cat__item--fatten {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50px;
  }
}

.program-cat__title-slim {
  @include list-reset;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 28px;
  margin-left: 15px;
}

.program-cat__title-pro {
  @include list-reset;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 28px;
  margin-left: 42px;
}

.program-cat__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-transform: initial;
  text-align: start;
  padding-bottom: 23px;
  margin-bottom: 19px;
  border-bottom: 1px solid #e0e0e0;
}

.program-cat__item {
  @include list-reset;
  background-color: #f2f2f2;
  padding: 20px;

  &:first-child {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 18px;
  }
}

.program-cat__slim,
.program-cat__pro {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 151px;
  margin-left: -5px;
  position: relative;
}

.program-cat__slim::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  top: 6px;
  margin-left: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.program-cat__pro::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  top: 6px;
  margin-left: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .program-cat__list {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .program-cat__item {
    padding: 81px 62px 59px 53px;

    &:first-child {
      margin-bottom: 32px;
      margin-left: -9px;
      margin-right: -9px;
    }

    &:last-child {
      margin-bottom: 27px;
      margin-left: -9px;
      margin-right: -9px;
    }
  }

  .program-cat__title-slim {
    font-size: 36px;
    line-height: 37px;
    text-align: start;
    margin: 0;
    margin-left: 1px;
    margin-top: -5px;
    margin-bottom: 24px;
  }

  .program-cat__title-pro {
    font-size: 36px;
    line-height: 37px;
    text-align: start;
    margin-left: 1px;
    margin-top: -5px;
    margin-bottom: 24px;
  }

  .program-cat__description {
    font-size: 16px;
    line-height: 24px;
    margin-left: 1px;
    margin-bottom: 33px;
    border-bottom: 0;
    width: 372px;
  }

  .program-cat__description--width {
    width: 342px;
  }

  .program-cat__slim,
  .program-cat__pro {
    font-size: 20px;
    line-height: 20px;
    margin-left: -332px;
    position: relative;

    &:active,
    &:focus {
      opacity: 0.3;
    }
  }

  .program-cat__slim::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    top: 10px;
    margin-left: 25px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .program-cat__slim:hover::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 19px;
    top: 8px;
    margin-left: 25px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .program-cat__pro::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    top: 10px;
    margin-left: 26px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .program-cat__pro:hover::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 19px;
    top: 8px;
    margin-left: 25px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .program-cat__item--slenderize::before {
    top: 79px;
    left: 477px;
    width: 141px;
    height: 194px;
  }

  .program-cat__item--slenderize::after {
    content: "";
    position: absolute;
    top: 91px;
    left: 447px;
    width: 200px;
    height: 200px;
    background-color: #68b738;
    border-radius: 100px;
  }

  .program-cat__item--fatten::before {
    top: 134px;
    left: 413px;
    width: 268px;
    height: 113px;
  }

  .program-cat__item--fatten::after {
    content: "";
    position: absolute;
    top: 89px;
    left: 449px;
    width: 200px;
    height: 200px;
    background-color: #68b738;
    border-radius: 100px;
  }
}

@media (min-width: $desktop-width) {
  .program-cat__list {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-top: 32px;
  }

  .program-cat__title-slim {
    margin-left: 162px;
    margin-top: 10px;
    margin-bottom: 74px;
  }

  .program-cat__title-pro {
    margin-left: 163px;
    margin-top: 9px;
    margin-bottom: 74px;
  }

  .program-cat__item {
    padding: 70px 56px 62px 53px;

    &:first-child {
      margin-left: 0;
      margin-bottom: 34px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 34px;
    }
  }

  .program-cat__description {
    width: 462px;
    margin: 0;
    margin-bottom: 7px;
  }

  .program-cat__slim,
  .program-cat__pro {
    margin-left: -205px;
  }

  .program-cat__item--slenderize {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 44px;
      left: 66px;
      width: 71px;
      height: 97px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 49px;
      left: 52px;
      width: 100px;
      height: 100px;
      background-color: #68b738;
      border-radius: 50px;
    }
  }

  .program-cat__item--fatten {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 71px;
      left: 34px;
      width: 134px;
      height: 57px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 52px;
      width: 100px;
      height: 100px;
      background-color: #68b738;
      border-radius: 50px;
    }
  }
}
