.program-cat {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.program-cat__list {
  @include list-reset;
  min-height: 266px;
}

.program-cat__item--slenderize {
  position: relative;
}

.program-cat__item--slenderize::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;
  background-image: url("../../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.program-cat__item--slenderize::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50px;
}

.program-cat__item--fatten {
  position: relative;
}

.program-cat__item--fatten::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.program-cat__item--fatten::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50px;
}

.program-cat__title-slim {
  @include list-reset;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 36px;
  margin-left: 15px;
}

.program-cat__title-pro {
  @include list-reset;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 36px;
  margin-left: 50px;
}

.program-cat__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-transform: initial;
  text-align: start;
  padding-bottom: 23px;
  border-bottom: 1px solid #e0e0e0;
}

.program-cat__item {
  @include list-reset;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.program-cat__slim,
.program-cat__pro {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 153px;
  position: relative;
}

.program-cat__slim::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  top: 6px;
  margin-left: 14px;
  background-image: url("../../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.program-cat__pro::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  top: 6px;
  margin-left: 14px;
  background-image: url("../../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .program-cat__list {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .program-cat__item {
    width: 708px;
  }

  .program-cat__title-slim {
    font-size: 36px;
    line-height: 37px;
    margin-left: -430px;
  }

  .program-cat__title-pro {
    font-size: 36px;
    line-height: 37px;
    margin-left: -430px;
  }

  .program-cat__description {
    font-size: 16px;
    line-height: 24px;
    width: 344px;
    margin-left: 67px;
  }

  .program-cat__slim,
  .program-cat__pro {
    font-size: 20px;
    line-height: 20px;
    margin-left: -470px;
  }

  .program-cat__slim::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    top: 260px;
    right: 60px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .program-cat__pro::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    bottom: 45px;
    right: 60px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .program-cat__item--slenderize::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 23px;
    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
  }

  .program-cat__item--slenderize::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 440px;
    width: 200px;
    height: 200px;
    background-color: #68b738;
    border-radius: 100px;
  }
}

@media (min-width: $desktop-width) {
  .program-cat__list {
    flex-direction: row;
  }

  .program-cat__item {
    margin: 10px;
    min-height: 372px;
  }
}
