.program-cat {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.program-cat__list {
  @include list-reset;
  margin: 0 auto;
}

.program-cat__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program-cat__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-transform: initial;
}

.program-cat__item {
  @include list-reset;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.program-cat__slim,
.program-cat__pro {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-cat__list {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program-cat__list {
    flex-direction: row;
  }

  .program-cat__item {
    margin: 10px;
    min-height: 372px;
  }
}
