.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-align: center;
}

.site-list__item {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin: 0 -20px;
  margin-bottom: -1px;
  padding: 0 -20px;
}

.site-list__link {
  display: inline-block;
  padding: 25px 50px;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    margin-top: 41px;
  }

  .site-list__item {
    border-top: 0 solid #ededed;
    border-bottom: 0 solid #ededed;

    &:first-child {
      margin-right: 55px;
    }

    &:nth-child(2) {
      margin-right: 55px;
    }
  }

  .site-list__link {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: normal;
    color: #222222;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    margin-top: 76px;
    margin-left: 446px;
  }

  .site-list__link {
    font-size: 20px;
    line-height: 25px;
    color: #111111;
  }

  .site-list__item--color-background {
    color: #ffffff;
  }

  .site-list__item {
    z-index: 2;

    &:first-child {
      margin-right: 55px;
    }

    &:nth-child(2) {
      margin-right: 54px;
    }
  }
}
