.social__list {
  @include list-reset;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 22px;
  padding-bottom: 17px;
}

.social__item {
  &:first-child {
    margin-left: 73px;
    margin-right: 36px;
  }

  &:nth-child(2) {
    margin-right: 40px;
  }
}

.social__vkontakte {
  width: 22px;
  height: 12px;
}

.social__instagram {
  width: 17px;
  height: 17px;
}

.social__facebook {
  width: 10px;
  height: 19px;
}

.social__link {
  margin-top: 0;

  &:hover path {
    fill: #69b738;
  }

  &:active path,
  &:focus path {
    fill: rgba(105, 183, 56, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-bottom: 10px;
    border: none;
    align-items: center;
  }

  .social__vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__instagram {
    width: 23px;
    height: 23px;
  }

  .social__facebook {
    width: 14px;
    height: 28px;
  }

  .social__item {
    &:first-child {
      margin-left: -5px;
      margin-right: 26px;
    }

    &:nth-child(2) {
      margin-right: 29px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__item {
    &:first-child {
      margin-left: -9px;
    }
  }
}
