.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 20px;
  padding-bottom: 14px;
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;
}

.social__link--instagram {
  width: 23px;
  height: 23px;
}

.social__link--facebook {
  width: 10px;
  height: 19px;
}

.social__item {
  list-style: none;


  &:first-child {
    margin-left: -8px;
    margin-right: 33px;
  }

  &:nth-child(2) {
    margin-right: 40px;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-bottom: 10px;
    border: none;
    align-items: center;
  }

  .social__link--vkontakte {
    width: 30px;
    height: 16px;
    margin-right: -10px;
  }

  .social__link--instagram {
    width: 23px;
    height: 23px;
    margin-right: -10px;
  }

  .social__link--facebook {
    width: 14px;
    height: 28px;
  }
}
