.how-work {
  @include list-reset;
  width: 280px;
  margin: 0 auto;
}

.how-work__headline {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: initial;
  color: #111111;
  @include list-reset;
}

.how-work__list {
  @include list-reset;
}

.how-work__item {
  @include list-reset;
}

.how-work__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: initial;
  color: #444444;
}
