.page-header {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.page-header__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
  }
}
